In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('dark_background')

In [38]:
NOTEBOOK_DIR = Path().resolve()
BASE_DIR = NOTEBOOK_DIR.parents[0]

DATASET_DIR = BASE_DIR / "data" / "1"
TRAIN_FILE_PATH = DATASET_DIR / "mitbih_train.csv"
TEST_FILE_PATH = DATASET_DIR / "mitbih_test.csv"

print("BAse directory of this project : ",BASE_DIR)
print("Train Dataset :",TRAIN_FILE_PATH)

BAse directory of this project :  C:\Users\SriRam.A\Documents\sr_proj\ECGHeartbeatCategorization
Train Dataset : C:\Users\SriRam.A\Documents\sr_proj\ECGHeartbeatCategorization\data\1\mitbih_train.csv

In [39]:
train_df = pd.read_csv(TRAIN_FILE_PATH, header=None)
test_df = pd.read_csv(TEST_FILE_PATH, header=None)
train_df.sample(5)

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
36194,1.000000,0.950125,0.718204,0.241895,0.109726,0.179551,0.129676,0.094763,0.067332,0.069825,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
83798,0.744038,0.650238,0.551669,0.443561,0.317965,0.198728,0.106518,0.047695,0.014308,0.025437,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
38871,1.000000,0.854054,0.429730,0.000000,0.162162,0.289189,0.370270,0.370270,0.378378,0.391892,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23835,0.679825,0.442982,0.267544,0.114035,0.000000,0.008772,0.096491,0.144737,0.153509,0.171053,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14398,1.000000,0.785024,0.599034,0.400966,0.328502,0.270531,0.256039,0.248792,0.246377,0.256039,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
print("Columns are : \n",train_df.columns)
print("Shape :",train_df.shape)
print("Null values : ",train_df.isnull().sum().sum())
print("Total duplicates : ",train_df.duplicated().sum())
train_df.describe()

Columns are :
 Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       178, 179, 180, 181, 182, 183, 184, 185, 186, 187],
      dtype='int64', length=188)
Shape : (87554, 188)
Null values :  0
Total duplicates :  0

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
count,87554.000000,87554.000000,87554.000000,87554.000000,87554.000000,87554.000000,87554.000000,87554.000000,87554.000000,87554.000000,...,87554.000000,87554.000000,87554.000000,87554.000000,87554.000000,87554.000000,87554.000000,87554.000000,87554.000000,87554.000000
mean,0.890360,0.758160,0.423972,0.219104,0.201127,0.210399,0.205808,0.201773,0.198691,0.196757,...,0.005025,0.004628,0.004291,0.003945,0.003681,0.003471,0.003221,0.002945,0.002807,0.473376
std,0.240909,0.221813,0.227305,0.206878,0.177058,0.171909,0.178481,0.177240,0.171778,0.168357,...,0.044154,0.042089,0.040525,0.038651,0.037193,0.036255,0.034789,0.032865,0.031924,1.143184
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.921922,0.682486,0.250969,0.048458,0.082329,0.088416,0.073333,0.066116,0.065000,0.068639,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.991342,0.826013,0.429472,0.166000,0.147878,0.158798,0.145324,0.144424,0.150000,0.148734,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.910506,0.578767,0.341727,0.258993,0.287628,0.298237,0.295391,0.290832,0.283636,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000

In [47]:
NUM_CLASSES = 5 
CLASS_NAMES = ['N (0) - Normal', 'S (1) - SVEB', 'V (2) - VEB', 'F (3) - Fusion', 'Q (4) - Unknown'] # From Kaggle

In [45]:
# Separate features (X) and labels (y)
X_train_raw = train_df.iloc[:, :-1].values
y_train_raw = train_df.iloc[:, -1].values
X_test_raw = test_df.iloc[:, :-1].values
y_test_raw = test_df.iloc[:, -1].values

In [46]:
print(f"Original Training data shape: {X_train_raw.shape}")
print(f"Class distribution before balancing:\n{train_df.iloc[:, -1].value_counts(normalize=True).sort_index()}")

Original Training data shape: (87554, 187)
Class distribution before balancing:
187
0.0    0.827729
1.0    0.025390
2.0    0.066108
3.0    0.007321
4.0    0.073452
Name: proportion, dtype: float64